---
interface Props {
  title?: string | undefined;
  description?: string | undefined;
  ogImage?: URL | undefined;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
if(Astro.props.ogImage === undefined) {
    Astro.props.ogImage = new URL('og-image.png', canonicalURL);
}

const { title, description = "CodeContestPro", ogImage } = Astro.props;

---
<meta charset="utf-8" />
<meta name="robots" content="index, follow" />
<meta name="goglebot" content="index, follow" />
<meta name="bingbot" content="index, follow" />
<meta name="yandex" content="index, follow" />
<meta name="referrer" content="no-referrer-when-downgrade" />

<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="generator" content={Astro.generator} />
<link rel="canonical" href={canonicalURL} />
<!-- favicon.ico -->
<link rel="icon" type="image/x-icon" href=`${Astro.site}favicon.ico` />
<!-- Shortcut ico -->
<link rel="shortcut icon" type="image/x-icon" href=`${Astro.site}favicon.ico` />
<!-- Android -->
<link rel="icon" type="image/png" sizes="192x192" href=`${Astro.site}android-chrome-192x192.png` />
<link rel="icon" type="image/png" sizes="512x512" href=`${Astro.site}android-chrome-512x512.png` />
<link rel="icon" type="image/png" sizes="32x32" href=`${Astro.site}favicon-32x32.png` />
<link rel="icon" type="image/png" sizes="16x16" href=`${Astro.site}favicon-16x16.png` />
<link rel="manifest" href=`${Astro.site}site.webmanifest` />
<link rel="apple-touch-icon" sizes="180x180" href=`${Astro.site}apple-touch-icon.png` />

<title>{title}</title>
<meta name="description" content={description} />

<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={ogImage} />
<meta property="og:url" content={canonicalURL} />
<meta property="og:type" content="website" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={ogImage} />
<meta name="twitter:url" content={canonicalURL} />